lombok.addNullAnnotations = NONE

# Вызывать в сгенерированных методах super.toString().
lombok.toString.callSuper = CALL

# Вызывать в сгенерированных методах super.equals() и super.hashCode().
lombok.equalsAndHashCode.callSuper = CALL

# На все сгенерированные методы вешать аннотацию, которую можно учитывать во время Code Coverage.
lombok.addLombokGeneratedAnnotation = TRUE

# Хватит искать конфиги в каталогах выше >_<
config.stopBubbling = TRUE
